- model_class = Team
.page-header
  %h1=t '.title', team: @team.name, league: @team.league.name
  %h2= "in der Saison #{@team.league.season}"

  %ul#the-tabulator.nav.nav-tabs
    %li.active
      %a{href: '#combat-days'} Spieltage
    %li
      %a{href: '#result-table'} Tabelle
    %li
      %a{href: '#team-player'} Aufstellung
  .tab-content
    #team-player.tab-pane
      .row
        .span5
          %table.table.table-striped{style: 'table-layout: auto;'}
            %thead
              %tr
                %th.span1 #
                %th.span5 Name
                %th.span2 DWZ
            %tbody
              - @team.league.boards.times do |i|
                - @team_player = @team.league.get_team_player(@team.id, i + 1)
                %tr
                  %td= "Brett #{i + 1}"
                  %td= "#{@team_player.fide_title + ' ' if @team_player.fide_title.present?} #{@team_player.first_name} #{@team_player.last_name}" if @team_player.present?
                  %td.numeric= @team_player.dwz > 0 ? @team_player.dwz : '----' if @team_player.present?
        .span5
          %table.table.table-striped{style: 'table-layout: auto;'}
            %thead
              %tr
                %th.span1 #
                %th.span5 Name
                %th.span2 DWZ
            %tbody
              - @team.league.subs_bench.times do |i|
                - @team_player = @team.league.get_team_player(@team.id, i + @team.league.boards + 1)
                %tr
                  %td= "Ersatz #{i + 1}"
                  %td= "#{@team_player.fide_title + ' ' if @team_player.fide_title.present?} #{@team_player.first_name} #{@team_player.last_name}" if @team_player.present?
                  %td.numeric= @team_player.dwz > 0 ? @team_player.dwz : '----'  if @team_player.present?
    #combat-days.tab-pane.active
      - @team.league.combatdays.each_with_index do |combatday, idx|
        %h3
          %span= "#{idx + 1}. Runde"
          %span.smaller= "am #{l(combatday.starttime, :format => :long)}"
        %table.table.table-striped{style: 'table-layout: auto;'}
          %thead
            %tr
              %th.span4
              %th.span1
              %th.span4
              %th.span1 Ergebnis
              %th.span2 Aktionen
          %tbody
            - Combat.where(league_id: @team.league.id, combat_day_id: combatday.id).each do |combat|
              %tr
                %td{style: "#{combat.home_team_name.starts_with?('TuS F端rstenfeldbruck') ? 'color: red;' : 'color: #333'}"}= combat_report_link combat, true
                %td -
                %td{style: "#{combat.guest_team_name.starts_with?('TuS F端rstenfeldbruck') ? 'color: red;' : 'color: #333'}"}= combat_report_link combat, false
                %td.center= combat.result
                %td.center= link_to 'Kampfbericht', '#', class: 'btn btn-small show-combat-report', 'data-combat-id' => combat.id if combatday.starttime < Time.now

    #result-table.tab-pane
      %h3 Aktuelle Tabelle
      - ranked_teams = @team.league.get_ranked_teams
      %table.table.table-striped{style: 'table-layout: auto;'}
        %thead
          %tr
            %th #
            %th Mannschaft
            - @team.league.teams.count.times do |idx|
              %th= idx + 1
            %th MP
            %th BP
        %tbody
          - ranked_teams.each_with_index do |team, idx|
            %tr{style: "#{team.name.starts_with?('TuS F端rstenfeldbruck') ? 'color: red;' : 'color: #333'}"}
              %td.numeric= idx + 1
              %td= team.name
              - @team.league.teams.count.times do |idy|
                %td.center
                  = ranked_teams[idy].results_hash[team.id]
                  = '**' if idx == idy
              %td.numeric= team.points
              %td.center= team.board_points

.form-actions
  = link_to 'Zur端ck zur Startseite', root_path, id: 'cancel_btn', class: 'btn'
  = link_to 'Liga bearbeiten', edit_league_path(@team.league_id), id: 'edit_league_btn', class: 'btn' if can? :manage, :league

#dlg-combat-report{style: 'display:none;'}
  %table.table.table-striped{style: 'table-layout:auto;'}
    %thead
      %tr
        %th{style: 'width: 40%;'}
        %th{style: 'width: 5%;'}
        %th{style: 'width: 40%;'}
        %th{style: 'width: 15%;'}
    %tbody
      - @team.league.boards.times do |idx|
        %tr
          %td{id: "homeboard-#{idx}"}
          %td -
          %td{id: "guestboard-#{idx}"}
          %td.center{id: "result-#{idx}"}