= simple_form_for @user, :html => { :class => 'form-horizontal', :multipart => true } do |f|
  %div.row-fluid
    = field_set_tag 'Login-Daten', :class => 'span6' do
      = f.input :username, autofocus: true
      = f.input :email
      - if @user.id == current_user.id
        = f.input :password
        = f.input :password_confirmation
      = f.input :avatar, :as => :avatar
    = field_set_tag "Persönliche Informationen", :class => 'span6' do
      = f.input :last_name
      = f.input :first_name
      = f.input :birth_date, :as => :date_picker, :input_html => {:class => "date_picker"}
      = f.input :gender, :as => :radio_buttons, :collection => [['Männlich', 'm'],['Weiblich', 'f']]
      = f.input :address
      = f.input :location, :label => 'PLZ Ort' do
        .row-fluid
          = f.text_field :zip, :class => 'span3', :style => 'float:left;'
          = f.text_field :location, :class => 'span9', :style => 'vertical-align: top;'
      = f.input :phone, :as => :tel
      = f.input :mobile, :as => :tel

  %div.row-fluid
    = field_set_tag "Spieler- & Vereinsdaten" do
      = f.input :member_since, :as => :date_picker, :input_html => {:class => "date_picker"}
      = f.input :dsb_id, :as => :integer
  .form-actions
    = f.button :submit, :class => 'btn btn-primary'
    = f.button :submit, t('helpers.submit.create', :model => User.model_name.human) + ' & Neu', :class => 'btn' if @user.created_at.nil?
    = link_to t('helpers.submit.cancel'), :back, :class => 'btn'

