%h1 Teilnehmer registrieren
= simple_form_for @tournament, :html => { :class => 'form-vertical' } do |f|

  = f.input :registrar
  = field_set_tag "Teilnehmer #{link_to_add_association('hinzufügen', f, :tournament_players, {id: 'add-subform', class: 'btn', 'data-association-insertion-node' => '#players', 'data-association-insertion-method' => :append })}".html_safe do
    %div.row
      %div.span4 Vorname
      %div.span4 Name
      %div.span1 Titel
      %div.span1 DWZ
      %div.span2= ''
    #players
      = f.simple_fields_for :tournament_players, html: {class: 'subform_set'} do |tournament_player|
        = render 'tournament_player_fields', f: tournament_player

  .form-actions
    = button_tag 'Teilnehmer regitrieren', :class => 'btn btn-primary'
    = link_to t('helpers.submit.cancel'), :back, :class => 'btn'

