- content_for :title, 'Willkommen beim TuS FFB - Schach'
%header#header{:class => "header hero-unit page-header hidden-phone", :style => "background-image: url(/assets/tus-logo.png); background-repeat: no-repeat; background-position: 90% 50%;"}
  %div.row-fluid
    %div.span8
      %h1#logo= link_to 'TuS Fürstenfeldbruck', root_path
      %h3{:style => 'font-size:48px; line-height: 60px; text-align:center;'} - Abteilung Schach -
%div.row
  %div.span9
    %h1{:style => 'text-align: center;'} Willkommen auf unserer Seite
    %div.row-fluid
      %div.span7
        %p
          Wir freuen uns, dass Du zu unserem Webangebot gefunden hast. Wir berichten auf diesen Seiten über alles Wichtige (und unwichtige), das unsere Abteilung im
          %strong= link_to 'TuS Fürstenfeldbruck', 'http://www.tus-ffb.de', class: 'external'
          zu bieten hat.
        %p Wir treffen uns natürlich auch 'offline' zum Spielen, Trainieren und geselligem Beisammensein:
        %ul
          %li allgemeiner Spiel- und Trainingsabend, jeden Donnerstag ab 20:00 Uhr
          %li Jugend-/Anfängertraining, jeden Donnstag, von 17:00 -18:30 Uhr
          %li Jugend-/Fortgeschrittenentraining, jeden Freitag, von 15:00 - 18:00 Uhr
          %li
            weitere Veranstaltungen, Ligakämpfe etc. findest Du im
            %strong=link_to 'Kalender', kalender_path
        im Vereinsheim des TuS Fürstenfeldbruck,
        %br
        Auf der Lände 2, 82256 Fürstenfeldbruck
      %div#diashow.span5
        = image_tag 'vereinsheim_th.jpg', :class => 'active', :style => 'width: 349px; height: 250px;'
        = image_tag 'spielsaal_th.jpg', :style => 'width: 349px; height: 250px;'
        = image_tag 'gesamtjugend1_th.jpg', :style => 'width: 349px; height: 250px;'

  %div#braingames.span3
    %h4 1. Brucker Schnellschach Open
    = link_to image_tag('braingames.png'), 'http://ffbopen.bplaced.net/?page_id=59', class:'external', target: '_self'
    %p{:style => 'margin-top: 10px;'}
      Alle Ergenbisse, Bilder usw. findet ihr auf
      %strong= link_to 'dieser Seite', 'http://ffbopen.bplaced.net/?page_id=59', class: 'external', target: '_self'
    %p
      Auch an dieser Stelle nochmals vielen
      Dank an Sponsor, die Stadt Fürstenfeld-
      bruck, die vielen freiwilligen Helfer und nicht zuletzt die vielen Spieler, die zu uns gefunden haben. Bis nächstes Jahr!
- if @blogposts.size > 0
  %div.row{style: 'margin-top:15px;padding-top:15px;border-top:2px solid #ccc;'}
    - (0..7).each do |i|
      %div.span3
        - if @blogposts.size >= i.to_i && @blogposts[i].present?
          %h4
            = @blogposts[i].title
            %br
            %small{:style => 'font-size: 12px;color: black;'}= "von #{@blogposts[i].author.first_last_name} im #{l @blogposts[i].created_at, :format => '%B %Y'}"
          %p= @blogposts[i].subtitle
          %p= link_to '<i class="icon-book"></i> weiterlesen...'.html_safe, blog_post_path(@blogposts[i]), :class => 'btn btn-mini'

