- unless alert.blank? || remote == false
  .alert.alert-error= alert
= simple_form_for @event, :html => { :class => 'form-horizontal' }, :remote => remote do |f|
  = f.input :owner_id, :as => :hidden
  = f.input :title, :autofocus => true
  = f.input :category, :as => :select, :collection => Event::CATEGORIES
  = f.input :place
  - if @event.event_series_id.blank?
    = f.input :all_day
    = f.input :starttime, :as => :date_time_entry
    = f.input :endtime, :as => :date_time_entry
    = f.input :period, :as => :select, :collection => @event.repeat_collection, :selected => @event.event_series.blank? ? 'Does not repeat' : @event.event_series.period if @event.new_record?
  = f.input :description, :input_html => {:rows => 5}
  .form-actions
    - if @event.event_series_id.blank?
      = f.button :submit, :class => 'btn-primary'
    - else
      = f.button :submit, "Diesen", :class => 'btn-primary'
      = f.button :submit, "Alle", :class => 'btn'
      = f.button :submit, "Zukünftige", :class => 'btn'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), :back, :class => 'btn' if remote == false

