= simple_form_for @blog_article, :html => {:class => 'form-inline'} do |f|
  -if @blog_article.errors.any?
    #error_explanation
      %h2= "#{pluralize(@blog_article.errors.count, "error")} prohibited this blog_article from being saved:"
      %ul
        - @blog_article.errors.full_messages.each do |msg|
          %li= msg

  = f.input :title
  = f.input :online
  = f.input :author_id, :as => :select, :collection => User.all.map {|u| ["#{u.first_name} #{u.last_name}", u.id]}
  = f.input :content
  = f.button :submit, :class => 'btn btn-primary'
  = link_to 'Back', blog_articles_path, :class => 'btn btn-danger'

