!!! 5
%html{:lang => "de"}
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}/
    %meta{:content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Schachclub"
    = csrf_meta_tag
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      %script{:src=>"http://html5shim.googlecode.com/svn/trunk/html5.js", :type=>"text/javascript"}
    = stylesheet_link_tag "application", :media => "all"
    / For third-generation iPad with high-resolution Retina display:
    / Size should be 144 x 144 pixels
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    / For iPhone with high-resolution Retina display:
    / Size should be 114 x 114 pixels
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    / For first- and second-generation iPad:
    / Size should be 72 x 72 pixels
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    / For non-Retina iPhone, iPod Touch, and Android 2.1+ devices:
    / Size should be 57 x 57 pixels
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    / For all other devices
    / Size should be 32 x 32 pixels
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    = javascript_include_tag "application"
    = javascript_include_tag "partial_loaded/#{params[:controller]}" # if File.exists?("#{Rails.root}/app/assets/javascripts/partial_loaded/#{params[:controller]}")
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'TuS FFB::Abt. Schach', root_path, class: 'brand'
          .container.nav-collapse
            %ul.nav
              %li.dropdown
                = link_to raw('Spielbetrieb<b class="caret"></b>'), "#", {:class => 'dropdown-toggle', 'data-toggle' => 'dropdown'}
                %ul.dropdown-menu
                  - Tournament.actives.each do |t|
                    %li= link_to t.title, tournament_path(t.id)
                  %li.dropdown
                    = link_to raw('Archiv <i class="icon-arrow-right"></i>'), "#"
                    %ul{:class => 'dropdown-menu sub-menu'}
                      - Tournament.archive.each do |t|
                        %li= link_to t.title, tournament_path(t.id)
              %li.dropdown
                = link_to raw('Mannschaften<b class="caret"></b>'), "#", {class: 'dropdown-toggle', 'data-toggle' => 'dropdown'}
                %ul.dropdown-menu
                  - Team.actives.each do |t|
                    %li= link_to t.name, team_path(t.id)
                  - if Team.archive.count > 0
                    %li.dropdown
                      = link_to raw('Archiv <i class="icon-arrow-right"></i>'), '#'
                      %ul.dropdown-menu
                        - Team.archive.each do |t_archived|
                          %li= link_to t_archived.name, team_path(t_archived.id)
              %li= link_to "Kalender", "/kalender"
            - if !user_signed_in?
              %ul#login-area.nav.pull-right
                %li.dropdown
                  = link_to "Anmelden<b class=\"caret\"></b>".html_safe, '#', {:class => 'dropdown-toggle', 'data-toggle' => 'dropdown'}
                  %div.dropdown-menu{style: "padding: 15px; padding-bottom: 0px;"}
                    = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :remote => true, :format => :json, :html => {:class => 'navbar-form pull-right'}) do |f|
                      = f.input :login, :style=>"margin-bottom: 15px;", :placeholder=>"Benutzername oder E-Mail"
                      = f.input :password, :as => :password, :style => "margin-bottom: 15px;", :placeholder => "Kennwort"
                      = f.input :remember_me, :as => :boolean, :label => 'Angemeldet bleiben'
                      = f.button :submit, 'Anmelden', :class => 'btn btn-primary', :style => 'margin-bottom: 15px;'
            - else
              = render :partial => 'devise/shared/user_menu'
          / /.nav-collapse
    .container
      %section#flash-messages.span7
        - unless notice.blank?
          .alert.alert-success= notice
        - unless alert.blank?
          .alert.alert-error= alert
      .content
        .row
          %div{:class => "span12"}
            = yield
      %footer
        %p
          &copy; TuS Fürstenfeldbruck 2012
          |
          = link_to 'Impressum & Kontakt', '/impressum'
          |
          Design & Programmierung: Walter Dienstleistungen
